<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p id="app-description">
            This website was created by Anastasia Urusova as part of a <a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/" target="_blank"> Node.js Udemy course</a>.
            It uses data from mapbox.com and weatherstack.com.
        </p>
        <img class="portrait" src="/img/nature.jpg" alt="Nature">
    </div>
    {{>footer}}
</body>

</html>